body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: burlywood;
}

.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px;
  width: 100%; /* Set the navbar to occupy 100% width */
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.nav-items {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  margin-left: 15px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
  }

  .nav-items {
    margin-top: 10px;
  }

  .nav-item {
    margin-left: 0;
    margin-bottom: 10px;
  }
}

.container {
  text-align: center;
  max-width: 400px;
  margin: 20px auto; /* Center the container below the navbar */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}
