@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@800&display=swap");
:root {
  --font-family: "Open Sans", sans-serif;
  --border-radius: 0;
  --form-element-spacing-vertical: 1rem;
  --form-element-spacing-horizontal: 1.25rem;

}
h1,
h2,
h3,
h4,
h5,
h6 {
  --font-family: "Raleway", sans-serif;
  --font-weight: 800;
}

/* Additional styling for the card */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Center vertically on the viewport */
  margin-top: 60px;
}

.card {
  margin-top: 40px;
}

.form {
  margin-bottom: 20px;
}

.qr-container {
  text-align: center;
  padding: 20px;
  opacity: 0; /* Set initial opacity to 0 */
  transition: opacity 2.2s ease; /* Add transition effect */
}
.qr-container.show {
  opacity: 5; /* When the class is added, make QR container visible */
}

.title {
  margin-top: 10px; /* Add margin to the top of the title */
}
.qr-wrapper {
  position: relative;
}

#download-btn {
  margin-top: 10px; /* Add margin to the download button */
  width: 100%;
}
