/* Additional styling for the card */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Center vertically on the viewport */
  margin-top: 60px;
}

.card {
  margin-top: 40px;
}

.form {
  margin-bottom: 20px;
}

.qr-container {
  text-align: center;
  padding: 20px;
  opacity: 0; /* Set initial opacity to 0 */
  transition: opacity 1s ease; /* Add transition effect */
}
.qr-container.show {
  opacity: 1; /* When the class is added, make QR container visible */
}

.title {
  margin-top: 10px; /* Add margin to the top of the title */
}
.qr-wrapper {
  position: relative;
}

#download-btn {
  margin-top: 10px; /* Add margin to the download button */
}
